.lista{
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 10px;
    
}

.lista-reservas{
    margin-left: 5px;
    margin-right: 5px;
}

.card-lista{
    width: 100%;
    height: 310px;
}

.titulo-lista{
    margin-left: 10px;
}