.imagen-inventario{
  border-radius: 8px;
  width: 50px;
  height: 50px;
}

.imagen-inventario-edit{
  border-radius: 8px;
  width: 100px;
  height: 100px;
}

.usuario .table-head, .table-body{
  font-weight: bold;
  text-align: center;
  margin-left: 40px;
}

.usuario .scroll .table-body{
  font-weight: normal;
  text-align: center;
  margin-left: 40px;
  margin-top: 10px;
  border-bottom: 1px;
}

.usuario .table-body .scrolling{
  font-weight: normal;
  text-align: center;
  margin-left: 21px;
  margin-top: 10px;
  border-bottom: 1px;
  margin:4px, 4px;
  padding:4px;
  background-color:#F5F5DC;
  width: "100%";
  height: 325px;
  overflow-x: hidden;
  overflow-y: auto;
  align-content: center; 
}

.usuario .table-body .scrolling .espacio-fila{
  background-color:#F5F5DC;
  height: 11px;
}

.usuario .scroll{
  margin:4px, 4px;
  padding:4px;
  background-color:#F5F5DC;
  width: "100%";
  height: 334px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 20px;
  align-content: center;             
}


.principal-formulario .principal-registrar-producto .form-style{
  background-color:#F5F5DC;
  color:#930001 ;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  font: nunito;
  border: 7cm;    
}
.principal-formulario .registro-producto-title{
font: nunito;
font-weight: bold;
background-color:#F5F5DC;
color:#930001 ;
margin-left: 400px;
margin-right: 400px;
}

.principal-formulario .principal-registrar-producto{
margin-left: 400px;
margin-right: 400px;
background-color:#F5F5DC;
border: 2px outset #930001;
border-radius: 10px; 
padding: 8px 15px;
}

.principal-formulario .boton-registro{
margin-top:10px;
margin-left: 800px;
margin-bottom:20px;
}

.principal-formulario{
background-color:#F5F5DC;
margin-bottom: 20px;
height: 470px;
}

.inventario
{
background-color:#F5F5DC;
}

.principal{
background-color:#F5F5DC;
height: 600px;
}

.usuario{
background-color:#F5F5DC;
height:auto;
}

